<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Sticky App</title>
	
	<link rel=stylesheet href="./style.css">

	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
	
<body>

<h1 id="title">My Sticky App</h1>

<div ng-app="myStickyApp">

	<div ng-controller="stickyCtrl" class="wrapper clearfix">
<!-- add sticky -->
		<form id="add-sticky-form">
			<div>
				<input type="add-input" placeholder="insert sticky title here" type="text" ng-model="formStickyTitle" ng-model-instant ng-change="sitckies.$save(sticky)"/>
			</div>
			<div>
				<input type="add-input" placeholder="insert sticky text here" type="text" ng-model="formStickyText" ng-model-instant ng-change="sitckies.$save(sticky)"/>
			</div>
			<input type="submit" value="Add" ng-click="addSticky()"/>
		</form>

		<ul id="sticky-list">
			<li class="note-wrap note-green" ng-repeat="sticky in stickies" ng-dblclick="toggleEditMode()">
				<div class="view" ng-keyup="editToDo()">
					<button class="delete-button" ng-click="deleteSticky(sticky)">
						<span class="glyphicon glyphicon-remove"></span>
					</button>
					<p class="sticky-title">{{ sticky.title }}</p>
					<p class="sticky-text">{{ sticky.text }}</p>
				</div>
				<input class="edit" type="text" ng-model="sticky.title" ng-keyup="editOnEnter(sticky)" />
				<input class="edit" type="text" ng-model="sticky.text" ng-keyup="editOnEnter(sticky)" />
			</li>

		</ul>
	</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>
<script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>


	<script type="text/javascript" src="./index.js"></script>
	<script
	  src="https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin="anonymous"></script>

</body>

</html>