<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Sticky App</title>

	

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

	<script type="text/javascript" src="./index.js"></script>
	<script
	  src="https://code.jquery.com/jquery-3.1.1.min.js"
	  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	  crossorigin="anonymous"></script>
	<link rel=stylesheet href="./style.css">
</head>
	
<body>

<h1>My Sticky App</h1>

<div ng-app="myStickyApp">

	<div ng-controller="stickyCtrl">
		<ul id="sticky-list">
			<li ng-repeat="sticky in stickies" ng-dblclick="toggleEditMode()">
				<div class="view" ng-keyup="editToDo()">
					<button ng-click="deleteSticky(sticky)">X</button>
					<p>{{sticky.title}}</p>
					<p>{{sticky.text}}</p>
				</div>
				<input class="edit" type="text" ng-model="sticky.title" ng-keyup="editOnEnter(sticky)" />
				<input class="edit" type="text" ng-model="sticky.text" ng-keyup="editOnEnter(sticky)" />
			</li>

		</ul>

		<form>
			<div>
				<input type="add-input" placeholder="insert sticky title here" type="text" ng-model="formStickyTitle" ng-model-instant />
			</div>
			<div>
				<input type="add-input" placeholder="insert sticky text here" type="text" ng-model="formStickyText" ng-model-instant />
			</div>
			<button ng-click="addSticky()">Add Sticky</button>
		</form>
	</div>
</div>


</body>

</html>