


#sticky-list {
	margin: 10px 0;
	padding: 0;
	list-style: none;
}

#sticky-list li {
	padding: 18px 20px 18px 0;
	position: relative;
	font-size: 24px;
	border-bottom: 1px solid #cccccc;
}

#sticky-list li:last-child {
	border-bottom: none;
}

#sticky-list li .edit {
    display: none;
}


#sticky-list li.editing {
	border-bottom: 1px solid #778899;
}

#sticky-list li.editing .view {
	display: none;
}

#sticky-list li.editing .edit {
	display: block;
	width: 235px;
	min-height: 98.5px;
	padding: 13px 15px 14px 20px;
	margin: 0;
	background-color: #CAF4B9; 
}


@import "compass/css3";

* {
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box; 
	box-sizing: border-box; 
}

::-moz-selection {
  background: #C6FF91;
  text-shadow: none;
}

::selection {
  background: #C6FF91;
  text-shadow: none;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}
body {
	background: url(http://i.imgur.com/2BdQt0g.jpg); 
	margin:0;
	padding:0; 
}

.wrapper {
	margin: 0;
}

/* Note styles */
.note-wrap {
	width: 235px;
	min-height: 235px;
	padding: 35px; 
	margin: 0 22px 44px 22px;
	position: relative;
	font-size: 24px;
	vertical-align: top;
  display: inline-block;
	font-family: Englebert, Arial;
	color:#4b453c;
	background: #F7E999;
	line-height: 34px; 
	text-align: center;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
	&:before  {
		display: block;
		content: ""; 
		background: rgba(227, 200, 114, 0.40);
		width: 130px;
		height: 28px;
	  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	  border-radius: 6px/18px 0;
		position: absolute;
		top: -13px;
		left: 50px;
		-webkit-transform: rotate(-2deg);
		-moz-transform: rotate(-2deg);
		-o-transform: rotate(-2deg);
		-ms-transform: rotate(-2deg);
		transform: rotate(-2deg);
	}
	& a {
		color:#6b824f;
		text-decoration: none;
		font-size: 20px; 
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		transition: all 0.4s ease;
		&:hover {
			color:#D83A25;
		}
	}
}

.note-yellow {
	background: #F7E999;
	-webkit-transform: rotate(2deg);
	-moz-transform: rotate(2deg);
	-o-transform: rotate(2deg);
	-ms-transform: rotate(2deg);
	transform: rotate(2deg);
}
.note-blue {
	background: #b9dcf4;
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	-ms-transform: rotate(-2deg);
	transform: rotate(-2deg);
}
.note-pink {
	background: #FFBDA3;
	-webkit-transform: rotate(1deg);
	-moz-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	-ms-transform: rotate(1deg);
	transform: rotate(1deg);
}
.note-green {
	background: #CAF4B9;
	-webkit-transform: rotate(-1deg);
	-moz-transform: rotate(-1deg);
	-o-transform: rotate(-1deg);
	-ms-transform: rotate(-1deg);
	transform: rotate(-1deg);
}

.delete-button {
	background-color: transparent;
    border-style: hidden;
    position: relative;
    left: 50%;
    bottom: 12px;
}

.sticky-title {
	padding-left: 10px;
    position: relative;
    bottom: 50px;
    text-align: initial;
}

#title {
	position: relative;
	padding-left: 40%;
}

#add-sticky-form {

  display: table;
  margin: 40px auto;
    
    
    div {
      color: #35dc9b;
      font: 13px Helvetica, Arial, sans-serif;
      position: absolute;
      top: 0px;
      left: 20px;
      opacity: 0;
      transition: all 0.2s ease-in-out;
    }
  }


}

  
  input[type="submit"] {
    transition: all 0.2s ease-in-out;
    font: 18px Helvetica, Arial, sans-serif;
    border: none;
    background: #1aaf75;
    color: #fff;
    padding: 16px 40px;
    
    &:hover {
      background: #109f67;
    }
  }

#add-sticky-form input {

    
      font: 18px Helvetica, Arial, sans-serif;
      box-sizing: border-box;
      display: block;
      border: none;
      padding: 20px;
      width: 300px;
      margin-bottom: 20px;
      font-size: 18px;
      outline: none;
      transition: all 0.2s ease-in-out;
      
      &::placeholder {
        transition: all 0.2s ease-in-out;
        color: #999;
        font: 18px Helvetica, Arial, sans-serif;
      }
      
      &:focus, &.populated {
        padding-top: 28px;
        padding-bottom: 12px;
        
        &::placeholder {
          color: transparent;
        }
        
        & + span {
          opacity: 1;
          top: 10px;
        }
   
}